
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-center mb-4">
    <h1 class="h3 mb-0 text-gray-800 ">METAS FISICAS POR PERIODO</h1>
</div>

@*<div class="row bt-3 mb-3">
        <div class="col-12 text-right">
            <button id="btnAgregarNuevo" type="button" class="btn btn-primary"><i class="fas fa-fw fa-plus"></i> Agregar</button>
        </div>
    </div>*@

<!-- Content Row -->
<div class="row">
    <div class="col-12">
        <div class="card mb-4 shadow-lg">
            <div class="card-body">
                <form class="row g-3 mb-2">
                    <div class=" row justify-content-center">
                        <div class="col-10 mt-5">
                            <div class="col-md-2">
                                <label for="vCui" class="form-label font-weight-bold">CUI</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="vCui" placeholder="Ingresar CUI" required>
                                    <div class="input-group-append">
                                        <button id="btnBuscar" class="btn btn-outline-secondary" type="button">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class=" row justify-content-center">
                        <div class="col-10 ">
                            <table id="tablaProyectos" class="table table-sm table-bordered table-striped">
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- modal nuevo usuario -->
<div id="modalNuevaMetaFisica" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Registrar Meta Física</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form class="row g-3 mb-3">
                    <div class="col-md-3">
                        <label for="cmbPeriodo" class="form-label">Período</label>
                        <select id="cmbPeriodo" class="form-select" aria-label="Default select example">
                            <option selected>Seleccione</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="cmbUnidadZonal" class="form-label">Unidad Zonal</label>
                        <select id="cmbUnidadZonal" class="form-select" aria-label="Default select example">
                            <option selected>Seleccione</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="cmbComponente" class="form-label">Componente</label>
                        <select id="cmbComponente" class="form-select" aria-label="Default select example">
                            <option selected>Seleccione</option>

                        </select>
                    </div>
                    <div class="col-md-3">
                        <label for="cmbAcciones" class="form-label">Acción</label>
                        <select id="cmbAcciones" class="form-select" aria-label="Default select example">
                            <option selected>Seleccione</option>

                        </select>
                    </div>
                    <div class="container">
                        <table id="tablaActividad" border="1" class="table table-sm table-bordered table-striped">
                           
                        </table>
                    </div>
                </form>
                <div class="mb-3">
                    <button id="btnGuardarNuevo" type="button" class="btn btn-block btn-primary"><i class="fas fa-fw fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /modal nuevo usuario -->
<!-- modal editar usuario -->
<div id="modalEditarUsuario" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body">
                <form class="row g-3 mb-3">
                    <div class="col-md-6">
                        <label for="vUsuarioEditar" class="form-label">vUsuario</label>
                        <input type="text" class="form-control" id="vUsuarioEditar">
                    </div>
                    <div class="col-md-6">
                        <label for="vCorreoEditar" class="form-label">vCorreo</label>
                        <input type="text" class="form-control" id="vCorreoEditar">
                    </div>
                    <div class="col-12 mb-2"><hr /></div>
                    <div class="col-md-3">
                        <label for="vDNIEditar" class="form-label">DNI</label>
                        <input type="text" class="form-control" id="vDNIEditar">
                    </div>
                    <div class="col-md-3">
                        <label for="vNombresEditar" class="form-label">Nombres</label>
                        <input type="text" class="form-control" id="vNombresEditar">
                    </div>
                    <div class="col-md-3">
                        <label for="vApellidoPaternoEditar" class="form-label">Apellido Paterno</label>
                        <input type="text" class="form-control" id="vApellidoPaternoEditar">
                    </div>
                    <div class="col-md-3">
                        <label for="vApellidoMaternoEditar" class="form-label">Apellido Materno</label>
                        <input type="text" class="form-control" id="vApellidoMaternoEditar">
                        <input type="hidden" id="usuarioIDEditar">
                    </div>
                </form>
                <div class="mb-3">
                    <button id="btneditarUsuario" type="button" class="btn btn-block btn-primary"><i class="fas fa-fw fa-save"></i> Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/select/1.3.4/js/dataTables.select.min.js"></script>
<script src="https://cdn.datatables.net/rowreorder/1.2.8/js/dataTables.rowReorder.min.js"></script>
<script src="~/Scripts/Planificacion/MetasFisicas.js"></script>

